<form class = "rounded border p-5 flex flex-col gap-2 w-[50%] mx-auto" method = "POST">
    <input type="text" name = "post-title" placeholder = "Enter title" required 
        class = "p-2 border border-gra-300 focus:ring-blue-500 bg-gray-50 rounded">
    <textarea
        class="mt-5 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 mb-6 min-h-[100px] max-h-[200px] resize-y"
        name = 'post-body'
        placeholder="WOW"
        required
    ></textarea>
    <button name = "createPost"
        class = "border rounded bg-blue-500 py-2 text-white" 
    >Post</button>
</form>